.div {
    display: grid;
    grid-template-columns: 0.25fr 2fr  0.75fr;
    background-color: #bc00dd;

    border-radius: 1rem;
    margin: 0.5rem;
    height: 50px;
    margin-top: 0.8rem;
}

.check {
    display:flex;
    align-self: center;
    justify-self: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    
    display:flex;
    align-items: center;

}

.btn {
    background-color: #b7b7a4;
    width:80%;
    height: 1.7rem;
    border-color: transparent;
    border-radius: 1rem;

    font-family: 'Bangers', cursive;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    
    margin: 1em
}

.btn:hover {
    background-color: white;
    cursor: pointer;
}